/* Estilos opcionais para melhorar a apresentação */
body {
    font-family: Arial, sans-serif;
}
form {
    max-width: 800px; /* Aumentando a largura do formulário */
    margin: 0 auto;
}
input[type="text"], textarea {
    width: 100%; 
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #c5bfbf;
    border-radius: 4px;
    box-sizing: border-box;
}
button {
    background-color: #34b41a;
    color: rgb(248, 244, 244);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
button:hover {
    background-color: #0a240c;
}
.data-list {
    margin-top: 20px;
}
.data-list li {
    margin-bottom: 20px;
    white-space: pre-wrap;
}
